.App
{
  height: 100vh;
  width: 100vw;
}

.display_flex
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App_style
{
  background-color: #333533;
}

.wrapper
{
  height: 500px;
  width: 850px;
  flex-direction: column;
}

.wrapper_style
{
  background-color: #242423;
  border-radius: 6px;
}

.clock
{
  width: 500px;
  height: 150px;
  flex-direction: column;
  justify-content: space-around;
}

.clock_style
{
  background-color: #cfdbd5;
  border-radius: 6px;
  opacity: .8;
}

.clock_text
{
  color: #333533;
  font-family: monospace;
  font-size: 30px;
}

.timer
{
  font-size: 70px;
}

.button-box
{
  width: 500px;
  height: 10vh;
  margin-top: 10px;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
}


.button-box__button
{
  width: 50px;
  height: 50px;
  margin: 0 10px;
  font-size: 40px;
}

.button_style
{
  color: #f5cb5c;
  background-color: #242423;
  border: none;
}

.button_style:hover
{
  color: #e8eddf;
}

.controllers-wrapper
{
  width: 50vw;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
}

.controller-box
{
  width: 20vw;
  height: 18vh;
  flex-direction: column;
}

.title
{
  width: 20vw;
  height: 5vh;
  text-align: center;
  color: #f5cb5c;
}

.controller
{
  width: 20vw;
  height: 15vh;
  flex-direction: row;
  justify-content: space-around;
}

.controller-box_style
{
  border: #f5cb5c solid 3px;
  border-radius: 6px;
}

.controller__button
{
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.title
{
  margin-top: 10px;
  font-size: 25px;
}

.duration
{
  font-size: 30px;
}

.text
{
  color: #f5cb5c;
  font-family: monospace;
}

